body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: -8px;
}

.flex-container.top {
    display: flex;
    background: black;
    justify-content:space-between;
    margin-bottom: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    left: 0;
    z-index: 2; /* Added this property to avoid form in the contact page covering the navigation bar when scrolling*/
}

ul > li {
    display: inline-block; 
}

#logo {
    color: aliceblue;
    font-weight: bold;
    font-size:30px;
    margin-left: 10%; 
    position: relative;
    top: 27%;
}

button {
    background-color: black;
    border-style: none;
    padding:  15px 32px;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

button:hover {
    background-color: lightblue; 
    color: black;
}

.scrollable {
    display: grid;
    grid-template-rows:5(repeat, 1fr);
}

heading {
    text-align: center;
    background-size: cover;
    margin: 0;
    height: 100vh;
    margin-right: -15px;
    grid-row: 1;
}

h1{
    font-size: 80px;
    border-bottom: 2px solid black;s
    color: black;
    position: relative;
    padding-top: 20%;
    z-index: 1;
}

heading > h2 {
    padding-bottom: 20%;
    color: black;
    font-family: 'Major Mono Display', monospace;
    z-index: 2;
}

#London {
    position: absolute;
    top: 10vh;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.main {
    z-index: 1;
}

.About {
    grid-area: 2;
    display: grid;
    grid-template: "a a a" 
        "b c c" 
        "b c c";  
    padding: 0 5%;
    background: white;
}

#AboutMe {
    grid-area: a;
    text-align: center;
}

#prof_pic {
    grid-area: b;
    height: 30vh;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    margin: auto;
}

.about {
    grid-area: c;  
    text-align: justify;
    padding: 5% 15%;
    line-height: 40px;
}

h2 {
    font-size:30px; 
    padding-top: 1%;
}

h3 {
    font-size: 27px;
    color: midnightblue;
}

p {
    font-size: 25px;
}

.Services {
    grid-row: 3;
    display: grid;
    grid-template: "a a a" 
        "b c d"
        "e f g";
    background-color: lightblue;
    margin-right: -10px;
    column-gap: 10%;
    padding: 3% 5%;   
}

.Services > div {
    padding-top: 5px;
    text-align: center;
    line-height: 40px;
}

#Services {
    grid-area: a;    
    text-align: center;
}

.service1, .service2, .service3 {
    border-bottom: 1px solid black;
}

#web_localization {
    grid-area: c;
    padding: 10px; 
}

#translation{
    grid-area: d;
}

#subtitles {
    grid-area: e;
}

#Prices {
    padding: 3% 5%;
    background-color: white;
}

.accessory_info {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    background: black;
    margin-right: -10px;
    padding: 20px;
}

#contact-me {
    margin-bottom: 2%;
    background-color: blue;
}

#contact-me:hover {
    opacity: 0.6;
    color: white;
}

.socialmedia {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
}

i {
    color: white; 
}

.icon {
      margin: 0 8px 0 30px;
    height: 23px;
   
}
.contactdetails {
    color: dodgerblue;
}


/* style of page 2 elements starts here*/

.contact_us {
    text-align: center;
    justify-content: center;
}

#Getintouch {
    position: relative;
    top: 150px;
}

form {
    display:grid;
    grid-area: repeat(10, 1fr) / repeat(6, 1fr);
    background-color:lightblue;
    width: 20%;
    padding: 5%;
    border-style: solid;
    border-color: gainsboro;
    border-width: thick;
    line-height: 50px;
    box-shadow: 10px 10px 8px #888888;
    position:relative;
    margin: 250px auto;
    align-items: center;
}

label {
    display: block;
}

textarea {
    height: 200px;
    margin-bottom: 15%;
}

#send {
    border-radius: 5%;
    margin: auto;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 1px solid;
}

#send:hover {
    opacity: 0.7;
}

