
html {
    width: 100%;
}
    
    body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    background: black;
    justify-content:space-between;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
}

#logo {
    color: aliceblue;
    font-weight: bold;
    font-size:30px;
    padding-top: 20px;
    padding-left: 25px;
    /* position: absolute;*/
    float: left;
}

.socialmedia-top {
    display: flex;
    padding-top: 30px;
    font-size: 18px;
} 

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
} 

.dropdown-content {
    display: none;
    min-width: 160px;
}

.dropdown:hover .dropdown-content {
    display: block;
} 

.dropbtn {
    float: right;
}

nav {
    padding: 0;
      z-index: 2;
}

ul.navigation {
    margin: 0;
}

.navigation-button {
    background-color: black;
    border-style: none;
    padding-top:  30px;
    padding-bottom: 30px;
    min-width: 160px;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.navigation-button:hover {
    background-color: lightblue; 
    color: black;
}


.scrollable {
    display: grid;
    grid-template-rows: 5(repeat, 1fr);
    grid-template-columns: 1
}

heading {
    text-align: center;
    background-image: url(images/IMG_02093.2MB_opaque.jpg);
    background-size: cover;
    grid-row: 1;
    z-index: 1;
}

h1{
    font-size: 80px;
    border-bottom: 2px solid black;s
    color: black;
    padding-top: 20%;
}

heading > h2 {
    padding-bottom: 20%;
    color: black;
    font-family: 'Major Mono Display', monospace;
}

.About {
    grid-area: 2;
    display: grid;
    grid-template: "a a a" 
        "b c c" 
        "b c c";  
    padding: 0 5%;
    background: white;
}

#AboutMe {
    grid-area: a;
    text-align: center;
}

#prof_pic {
    grid-area: b;
    max-width: 400px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    margin: auto;
}

.about {
    grid-area: c;  
    text-align: justify;
    padding: 5% 15%;
    line-height: 40px;
}

h2 {
    font-size:30px; 
    padding-top: 1%;
}

h3 {
    font-size: 27px;
    color: midnightblue;
}

p {
    font-size: 25px;
}

.Services {
    grid-row: 3;
    display: grid;
    grid-template: "a a a" 
        "b c d"
        "e f g";
    background-color: lightblue;
    margin-right: -10px;
    column-gap: 10%;
    padding: 3% 5%;   
}

.Services > div {
    padding-top: 5px;
    text-align: center;
    line-height: 40px;
}

#Services {
    grid-area: a;    
    text-align: center;
}

.service1, .service2, .service3 {
    border-bottom: 1px solid black;
}

#web_localization {
    grid-area: c;
    padding: 10px; 
}

#translation{
    grid-area: d;
}

#subtitles {
    grid-area: e;
}

span {
        color: mediumvioletred;
    }
 
#Prices {
    padding: 3% 5%;
    background-color: white;
}

.price-descr {
    color: mediumvioletred;
}

.accessory_info {
    text-align: center;
}

footer {
    background: black;
    margin-right: -10px;
    padding: 20px;
    grid-row: 5;
}

#contact-me {
    margin-bottom: 2%;
    background-color: blue;
    color: white;
    padding: 20px; 
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    font-weight: bold;
}

#contact-me:hover {
    opacity: 0.6;
    color: white;
}

#info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.socialmedia {
    display: flex;
    align-items: center;
    font-size: 18px;
}

i {
    color: white; 
}

.icon {
    margin: 0 8px -5px 30px;
    height: 23px;

}
.contactdetails {
    color: dodgerblue;
    font-weight: bold;
}


/* style of page 2 elements starts here*/

.contact_us {
    text-align: center;
    justify-content: center;
}

iframe {
    margin-top: 20vh;
}

/* Media Query starts here */

@media (max-width: 1055px) {
    
    heading {
        margin-right: -15px;
    }
    
    h1 {
        font-size: 50px;
    }

    heading > h2 {
        font-size: 27px;
    }
    
    #prof_pic {
        display: none;
    }

    .Services {
        grid-template: "a"
            "b"
            "c"
            "d"
    }
    
    #info {
        flex-direction: column;
    }

    #Trados {
        max-width: 200px;
    }
    
    .socialmedia-top {
        display: none;
    }

    .socialmedia {
        display: none;
    }
}

